.ProjectRow{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
}

/* .ProjectHeader {
    display: none;
} */

.ProjectDiv{
    display: block;
    margin: 20px auto 40px auto;
    /* margin: auto; */
    width: fit-content;
    text-align: center;
    align-items: center;
/* margin-bottom: 20px; */
}

/* .project img {
    width: 300px;
    margin-left: 20px;
} */

@media (max-width: 500px){
    .ProjectRow{
        display: flex;
        flex-direction: column;
    }

    .ProjectHeader {
        display: block;
        margin: 0 auto;
    }
    .ProjectDiv {
        margin: 5px auto;
        padding-bottom: 5px;
    }
}