
.AboutWebsite {
    display: block;
}

.AboutWebsite {
    margin-right: 10px;
    position: relative;
    margin-top: 5px;
    color: white;
}

.AboutWebsite :hover,
.AboutWebsite :active {
  color: aqua;
}