.Homepage {
    display: block;
    margin: 20px auto;
    height: fit-content;
    width: 60%;
    /* background-color: rgb(240, 240, 240); */
    padding: 15px;
}

.feedCount{
    /* width: 100%; */
    padding: 15px;
    position: relative;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: row;
}

.CreateItem {
    /* margin-left: 45vw; */
    position: absolute;
    right: 10px;
    width: fit-content;
    height: 50px;
}

.CreateItem button{
    width: 150px;
    height: 100%;
    border-radius: 10px;
    background-color: #1B9BE9;
    color: white;
    font-size: 16px;
}

@media screen and (max-width: 500px){
    .Homepage{
        margin: 20px auto;
        padding: 0 10px;
        width: fit-content;
    }

    .feedCount {
        padding: 10px;
        position: relative;
    }

    .CreateItem {
        margin: 0;
    }

    .CreateItem button {
        width: 100px;
    }
}