.CreateNote {
    padding: 20px 0;
}

.CreateNoteContainer {
    display: block;
    width: 95%;
    margin: 0 auto;
}

.CreateNoteContainer button{
    margin-top: 15px;
}

@media screen and (max-width: 500px){
    .CreateNote h1{
        text-align: center;
    }

}