.HomepageContainer{
    display: block;
    margin: auto;
    /* margin-top: 50px; */
    padding: 10px;
    height: 250px;
    overflow: none;
    text-align: center;
    align-items: center;
}

.HomepageContainer .name {
    display: block;
    margin: auto;
    /* margin-top: 120px; */
    padding-top: 120px;
    color: white;
    font-family: 'Bariol';
    font-weight: 100;
    letter-spacing: 3px;
    font-family: sans-serif
}

.HomepageContainer .title{
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 2px;
    width: 400px;
    color: grey;
    background-color: #0054a4;
}

@media screen and (max-width: 500px) {
    .HomepageContainer .name {
        padding-top: 50px;
        font-size: 0.80em;
    }

    .HomepageContainer .title {
        font-size: 0.70em;
        width: 320px;
    }
}

@media screen and (max-width: 380px) {
    .HomepageContainer .name {
        font-size: 0.65em; 
    }

    .HomepageContainer .title {
        font-size: 0.65em;
        padding: 1px;
        width: 250px;
    }
}