.RegisterContainer {
    align-self: center;    
    display: block;
    margin: 55px auto;
    width: fit-content;
    padding: 0px 20px;
}

@media screen and (max-width: 500px){
    .RegisterContainer {
        width: fit-content;
        padding: 0;
    }
}
