.Filler {
    background: #1DA598;
    height: 100%;
    border-radius: inherit;
    animation: progressBar 2s ease-in-out;
    animation-fill-mode:both; 
    /* box-shadow: inset 100px 0 0 0 #1DA598 */
}

@keyframes progressBar {
    0% { width: 0; }
    100% { width: attr(value) }
  }

.Filler span:first-child {
    z-index: 200; 
}
.Filler span:first-child::after{
    width: fit-content;
    content: attr(value);
    position: absolute;
    top: 7px;
    left: 15px;
}

.Filler span:nth-child(2){
    /* padding: 15px 10px; */
    display: inline;
    z-index: 200; 
}

.Filler span:nth-child(2)::after{
    margin-left: 32vw;
    position: absolute;
    top: 7px;
    right: 20px;
    width: 20px;
    /* padding: 20px 10px; */
    content: attr(value)"%";
}

/* .Filler span {
    padding: 7px 10px;
    display: block;
    z-index: 200; 
}

.Filler span::after {
    margin-left: 35vw;
    width: 20px;
    content: attr(value)"%"; 
} */

@media (max-width: 500px){
    .Filler {
        animation: none;
    }
}