.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 92%;
    padding-top: 0px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    left: 4%;
    height: 80vh;
    top: 11%;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.CloseButton {
    position: absolute;
    right: 5px;
    top: 5px;
}

@media (min-width: 600px) {
    .Modal {
        width: 70% ;
        left: calc(35% - 250px);
        height: 90vh;
        top: 0%;
    }
}