.Footer{
    /* width: 75%; */
    /* margin-top: 50px; */
    background-color: #40909a;
    position: relative;
    width: 100%;
    bottom: 0%;
    padding: 0px;
    height: 120px;
    overflow: none;
    text-align: center;
    font-family: Roboto;
    align-items: center;
}

.FooterDiv{
    display: block;
    margin: 0 auto;
    width: fit-content;
    /* text-align: center; */
    /* align-items: center; */
}

.FooterContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* height: 300px; */
}

.FooterDiv span {
    margin-left: 5px;
}