.AboutDrawer {
    position: absolute;
    display: block;
    width: 40%;
    /* max-width: 70%; */
    height: fit-content;
    right: 30px;
    top: 0;
    z-index: 200;
    background-color: white;
    padding: 10px 20px;
    border-style: unset;
    box-sizing: border-box;
    transition: transform 0.4s;
}

.Content {
    line-height: 1.5em;
    padding: 5px;
}

.Content ul {
    margin: 5px 0;
}

.AboutPageContainer h3 {
    text-align: center;
    margin: 10px 0;
}

.Content p {
    margin: 10px 0;
}
.Open {
    transform: translateY(0) translateX(0);
    top: 50px;
}

.Close {
    transform: translateY(-100%) translateX(100%);
}

@media (max-width: 500px) {
    .AboutDrawer {
        width: 90vw;
        right: 20px;
    }

    .Open {
        top: 55px;
        transform: translate3d(100%)
    }
}