.Button {
    /* padding: 15px 20px; */
    display: block;
    background: #0154A3;
    color: white;
    font-size: 16px;
    padding: 10px;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}