.Loading {
    width: 100%;
    height: auto;
}

.Loading img {
    width: 250px;
    margin: 200px auto;
    display: block;
}

@media screen and (max-width: 500px){
    .Loading img {
        margin: 150px auto;
        width: 200px;
    }
}