.IntroContainer {
    padding-top: 10px;
}

.Image {
    width: 60%;
}

.Description {
    width: 90%;
    margin-top: 10px;
}
.Description p{
    width: inherit;
    text-align: center;
    padding: 0;
}

@media (max-width: 500px){
    .IntroContainer{
        padding: 0px;
    }

    .Image {
        width: 90%;
    }

    .Description {
        width: 100%;
    }
}