.Experience {
    margin-bottom: 30px;
    border-bottom: 1px solid grey;
}

.Experience h3 {
    margin: 10px 0;
}

.Experience h4{
    margin: 3px 0;
}

.container {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}
.responsibilities {
    margin: 8px 0;
}
.container h4 {
    width: 80%;
}

.container p{
    width: 20%;
    text-align: right;
    margin: 0;
}

.Experience span {
    font-weight: bold;
}

@media (max-width: 500px){
    .container h4{
        width: 75%;
    }

    .container p {
        width: 25%;
    }
}