.LoginFormContainer {
    /* text-align: center; */
    align-self: center;    
    display: block;
    margin: 55px auto;
    width: 35%;
    /* border-width: thin;
    border: 0.5px solid lightslategrey; */
    padding: 0px 20px;
}

@media screen and (max-width: 500px){
    .LoginFormContainer {
        width: 80%;
    }
}

@media screen and (max-width: 375px){
    .LoginFormContainer{
        width: 80%;
    }
}