.LoginFormContainer {
    /* text-align: center; */
    align-self: center;    
    display: block;
    margin: 55px auto;
    width: fit-content;
}

@media screen and (max-width: 500px){
    .LoginFormContainer {
        width: fit-content;
        padding: 0;
    }
}