.FollowerContainer {
    background: #ECECEC;
    padding: 15px 20px;
    min-height: 100px;
    /* margin: 0 10px; */
    display: block;
}

.FollowerContainer h3 {
    text-align: center;
    margin: 7px 0;
    top: 50%;
    position: relative;
}