.NavigationItems {
    margin: 0;
    padding: 0;
    margin-left: 0px;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}

.logout {
    border: 1px solid #0154A3;
    border-radius: 1px;
}

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }
}