.LoginForm h3 {
    line-height: 1.8em;
    text-align: center;
}

.LoginForm {
    min-width: fit-content;
}

.Form {
    display: block;
    margin: 0 auto;
    width: fit-content;
    border: 1px solid black;
    border-radius: 8%;
    /* align-self: auto; */
    padding: 10px 20px;
    height: fit-content;
}

.Form input {
    display: flex;
    flex-direction: row;
    width: 18vw;
}

.RegisterLink {
    display: block;
    border-top: 1px solid black;
    margin: 0 auto;
    margin-top: 25px;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    
}

.Form button {
    display: block;
    margin: 0 auto;
}

.EmailSent {
    color: red;
}

.Form button {
    padding: 15px 20px;
    display: block;
    margin: 15px auto;
    align-self: left;
    background: black;
    color: white;
    font-size: 14px;
}

@media (max-width: 500px){
    .LoginForm {
        margin: 0px;
        width: 100%;
        display: block;
        margin: 0 auto;
        width: fit-content;
    }

    .Form {
        margin-left: 0;
        width: inherit;
        padding: 20px;
    }
    .Form input {
        display: flex;
        flex-direction: row;
        width: 70vw;
    }
}

@media (max-width: 375px){
    .LoginForm{
        margin: 10px;
    }
}